.select {
	display: flex;
	min-width: 235px;
	padding: 10px;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 26px;
	color: #ffffff;
	background-color: #1E1E1E;
	/* border: 1px solid #323232; */
	border: none;
	outline: none;
}