.input {
	width: 100%;
	min-height: inherit;
	padding-left: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: #ffffff;
	border: none;
	background: none;
	border: 1px solid #323232;
}

.input-title {
	font-size: 32px;
}

.invalid {
	border: 1px solid red;
	background: rgb(68, 6, 6);
}

input[type="date"]::-webkit-calendar-picker-indicator {
	background-color: transparent;
	cursor: pointer;
	border: 1px solid #323232;
	border-radius: 8px;
	transform: scale(1.2) translateX(-13px);
	filter: invert(0.8);
	opacity: 0.6;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
	opacity: 1;
}