.input {
	width: 100%;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: #ffffff;
	border: none;
	background: none;
	border-bottom: 1px solid #323232;
	appearance: none;
}

.input-title {
	font-size: 32px;
}

.invalid {
	border: 1px solid red;
	background: rgb(68, 6, 6);
}