.card-button {
  display: block;
  padding: 20px;
  color: #ffffff;
  text-align: start;
  background-color: #1E1E1E;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.card-button:hover {
  background-color: #3e3939;
}