.journal-item {
  padding: 20px;
  background-color: #1E1E1E;
  border-radius: 3px;
}

.journal-item-header {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #ffffff;
}

.journal-item-body {
  display: flex;
  gap: 10px;
}

.journal-item-date {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgba(255, 255, 255, 0.40);
}

.journal-item-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgba(255, 255, 255, 0.60);
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}