.journal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input-title {
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #FFF;
  background: none;
  border: none;
  border-bottom: 1px solid #333333;
}

.form-row {
  display: flex;
  align-items: center;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 150px;
}

.input {
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #FFF;
  background: none;
  border: none;
  border-bottom: 1px solid #333333;
}

.invalid {
  background-color: rgb(113, 13, 13);
  border: 1px solid red;
}