.modal {
    position: absolute;
    top: 20px;
    left: -186px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 456px;
    height: 176px;
    background-color: #1E1E1E;
    border-radius: 12px;
}

.modal p {
    margin-bottom: 40px;
}