.city-picker {
    display: flex;
    gap: 15px;
    padding: 10px;
    background-color: #1E1E1E;
}

.city-picker-label {
    display: inline-block;
    min-width: 150px;
    font-family: inherit;
    font-size: 18px;
    line-height: 26px;
    color: aliceblue;
}

.city-picker-select {
    font-family: inherit;
    font-size: 18px;
    line-height: 26px;
    color: aliceblue;
    outline: none;
    border: none;
    background-color: transparent;
}

.city-picker-select:active,
.city-picker-select:focus {
    border-color: blueviolet;
}

.city-picker-option {
    color: #1E1E1E;
}