:root {
  font-family: 'Source Sans 3', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 1348px) {
  body {
    margin: 0;
  }
}