:root {
  color: rgba(255, 255, 255, 0.87);

}

/* #light {
  background-color: #ffffff;
}

#dark {
  background-color: #181818;
} */

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Source Sans 3', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #181818;
}

@media screen and (max-width: 1348px) {
  body {
    max-width: 100%;
    margin: 0;
  }
}